h2{
    color: rgb(32, 32, 32);
    background-color: rgba(190, 189, 190, 0.425);
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    margin: 15%;
}
nav a{
    background-color: rgb(187, 184, 187);
    border-radius: 5px;
    margin: 1px;
    width: 100px;
    display: inline-block;
    text-align: center;
    padding-bottom: 5px;
    border-style: outset;
    border-color: whitesmoke;
}
nav{
    padding: 2%;
}
title{
    font-family: Arial, Helvetica, sans-serif;
}
