
html{
    background-image: url(image\ de\ fond.jpg);
    background-repeat: no-repeat;
}
#main{
    background-image: url(font.png);
    background-repeat: no-repeat;
    overflow: scroll;
    width: 100%;
    height: 1500px;
}
h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    
    text-align: center;
    border-radius: 5%;
    font-family: Verdana, Geneva, sans-serif;
    margin: 15%;
}
h3{
    text-decoration-line: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    padding: 3%;
    flex-wrap: wrap;
    background-color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-style: outset;
    border-color: black;
}
nav a{
 padding: 3%;
 flex-wrap: wrap;
color: black;
 text-align: center;
 border-color: black;
 border-style: outset;
 font-weight: bold;
    
}
aside{
    color: white;
    margin-block: 5%;
    flex-basis: 25%;
    width: 25%;
    text-align: center;
    border-style: groove;
    border-color: black;
    font-style: oblique;
}
aside p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    display: flex;
    flex-wrap: wrap;
    padding-right: 10%;
    border-radius: 5%;
    border-style: dotted;
    border-color: black;
    color: black;
    background-color: whitesmoke;
    text-decoration: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article{
    border-style: double;
    width: 30%;
    display: block;
    float: right;
    clear: right;
    float: top;
}
marquee{
    display: flex;
    flex-wrap: wrap;
    padding-right: 10%;

}