body{
    background-image: url(mp1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h2{
    text-align: center;
    font-style: oblique;
}
div{
margin-block: 15%;
flex-basis: 20%;
width: 40%;
border-radius: 2%;
border-style: ridge;
text-align: center;
text-decoration: double;
background-color: white;
padding: 15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}